@import "../scss-var.scss";

.analysis-container {
  display: flex;
  flex-direction: column;

  padding: 3rem;
}

.analysis-main-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-template-rows: min-content;
  grid-gap: 4rem;
}
