$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-main: #824dff;
$color-main-light: #a37cff;
$color-main-dark: #571fdb;
$color-main-light-bg: #f9f6ff;

$color-orange-light: #ffe7d9;
$color-orange: #ff904f;

$color-red-light: #ffd9e5;
$color-red: #ff5c8f;

$color-purple-light: #f4d9ff;
$color-purple: #d05eff;

$color-blue-light: #d9ebff;
$color-blue: #5ea9ff;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
